mixin box(name)
	.box(class=name)
		.lt
		.rt
		.tp
		.bt
		.ft
		.bk

.scene
	.particle(style="--dur: 20s")
		+box('particle-1')
	.particle(style="--dur: 25s")
		+box('particle-2')
	.particle(style="--dur: 30s")
		+box('particle-3')
	.tardigrade
		.head
			+box('head-large')
			+box('head-small')
			.mouth-group
				+box('mouth')
				+box('mouth')
				+box('mouth')
				+box('mouth')
				+box('mouth')
				+box('mouth')
		.body-segment.ft
			.body-ani.reverse
				+box('chunk')
				+box('chunk-small')
				.left-leg
					.leg-ani.forward
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
				.right-leg
					.leg-ani.reverse
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
		.body-segment.ft_mid
			.body-ani.forwards
				+box('chunk')
				+box('chunk-small')
				.left-leg
					.leg-ani.reverse
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
				.right-leg
					.leg-ani.forward
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
		.body-segment.bk_mid
			.body-ani.reverse
				+box('chunk')
				+box('chunk-small')
				.left-leg
					.leg-ani.forward
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
				.right-leg
					.leg-ani.reverse
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
		.body-segment.bk
			.body-ani.forwards
				+box('chunk')
				.left-leg
					.leg-ani.reverse
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
				.right-leg
					.leg-ani.forward
						+box('leg')
						.toes
							+box('toe')
							+box('toe')
							+box('toe')
							+box('toe')
